.content
  section

    .row
      - if (flash.error != null){
        .span16
          .alert-message.error
            = flash.error
      -} else if (flash.success != null){
        .span16
          .alert-message.success
            = flash.success
      -}
      .hero-unit
        .row
          .span10
            h3 Déjà <span class="label warning">#{bonheurs.length}</span> instants de bonheur, <span class="label important">#{comments}</span> commentaires et  <span class="label success">#{votes}</span> votes. 
            h3 Pourquoi ne pas ajouter votre contribution, soit en commentant un bonheur ci-dessous soit en partageant un nouvel instant ou encore en votant?
          .span4
            <br/>
            <center><a class='btn primary large' style="font-size:24px" href= '/bonheur'>Partager un <br/>nouvel instant<br/>de bonheur ?</a></center>


      each bonheur in bonheurs
        .span16
          h2.question <a href="/bonheur/#{bonheur._id}/show">#{bonheur.body}</a>
          - var reponse = 'avec ' + bonheur.comments.length + ' commentaires'

          if(bonheur.comments.length==0)
            reponse = 'sans aucun commentaire pour l\'instant'
          else if(bonheur.comments.length==1)
            reponse = 'avec un seul commentaire pour l\'instant'
          - var vote = 'vote'
          if(bonheur.votes>1)
            vote = vote+'s'
          p <small>partagé le #{bonheur.date.getDate()}/#{bonheur.date.getMonth()+1}/#{bonheur.date.getFullYear()} par #{bonheur.author} #{reponse} et #{bonheur.votes} #{vote}.</small>
      


